.slider {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.imgBox {
  width: 92%;
  height: 100%;
  position: relative;
  object-position: center;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: blur(0px);
}

.imgBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.2) 100%
  );
  pointer-events: none;
}

.slider button {
  position: absolute;
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}

.slider .prev {
  top: 30%;
  left: 20px;
}

.slider .next {
  top: 30%;
  right: 20px;
}
