.cartWrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: gainsboro;
  min-height: 100vh;
  gap: 16px;
  padding: 20px 30px;
  width: 100%;
}
.cart {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 20px 30px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.isEmpty {
  width: 100%;
  padding: 20px;
  line-height: 2;
}

.isEmpty h3 {
  font-size: 28px;
}
