.wrapper {
  width: 100%;
  /* min-height: 200vh; */
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  position: relative;
  padding: 48px 0;
  top: -300px;
  left: 50%;
  transform: translate(-50%, 0);
  /* background-color: red; */
  /* background-color: transparent; */
}
.cardLink {
  text-decoration: none;
  color: #333;
}
.cardList {
  display: grid;
  grid-template-columns: repeat(5, 230px);
  align-items: center;
  justify-content: center;
  gap: 8px;
}
/* CHANGE-LATER  WIDTH */
.parag {
  width: 1180px;
  background-color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.parag a {
  text-decoration: none;
  color: rgb(0, 113, 113);
}
