.productDetails {
  display: flex;
  /* justify-content: space-between; */
  min-height: 100vh;
  padding: 30px;
  background-color: #fff;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.firstSec {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}

.imgContainer {
  padding: 20px;
  /* background-color: tan; */
}
.imgContainer img {
  width: 250px;
  object-fit: contain;
  border-radius: 8px;
}

.firstSec a {
  text-decoration: none;
  color: rgb(0, 113, 113);
  font-size: 14px;
  text-transform: capitalize;
}

.productDetails a:hover {
  text-decoration: underline;
}

.addToCart {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 38% !important;
  height: 550px;
  padding: 20px 10px;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 8px;
  font-size: 15px;
  /* background-color: yellowgreen; */
}

.addToCart .shipp {
  line-height: 1.6;
}

.addToCart .shipp span {
  color: #777;
}

.shipp em {
  font-weight: 500;
}
.deliverTo {
  color: rgb(23, 142, 178);
  font-size: 14px;
}

.addToCart select {
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.radioIcon {
  color: rgb(85, 85, 224);
  position: absolute;
  right: 20px;
  font-size: 24px;
}
.select {
  border: none;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  color: #333;
}

.inStock {
  color: seagreen;
  font-weight: 500;
  font-size: 18px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 32px;
}

.ratingItem {
  color: rgb(0, 113, 113);
  font-size: 14px;
}
.ratingItem:nth-of-type(1) {
  border-right: 1px solid #ccc;
  padding-right: 32px;
}
.secondSec {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}

.thirdSec {
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}
.forthSec {
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}
.discountPrice {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.discountPrice span sup {
  font-size: 12px;
  padding: 0 5px;
  /* text-decoration: LI; */
}

.shipping {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.shipping span {
  display: flex;
  align-items: center;
  color: rgb(0, 113, 113);
}

.shippingDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.shippingDetails h4 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}

.shippingDetails p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalPriceDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}

.extraSaving {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  transition: 0.5s;
  color: #333;
}
.extraBtn {
  background-color: #eeb24b;
  padding: 5px 10px;
  color: #fff;
}
.extraSaving span:last-child:hover {
  color: red;
}
.extraSaving span {
  display: flex;
  align-items: center;
}

.extraDesc {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.extraDesc span {
  color: rgb(0, 113, 113);
}

.extraDesc span:hover {
  color: rgb(0, 113, 113) !important;
  text-decoration: underline;
}

.specifications {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.specifications h3 {
  font-weight: 500;
}
.specifications ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.specifications ul li {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.specifications span:first-child {
  font-weight: 500;
}

.specifications span {
  width: 200px;
  text-align: left !important;
  /* background-color: red; */
}
.specifications button,
.about button {
  width: 100px;
  border: none;
  background-color: transparent;
  color: rgb(0, 113, 113);
  text-align: left;
  display: flex;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about h3 {
  font-weight: 500;
}
.about ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.report {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.report p:hover {
  color: red;
}

.note {
  line-height: 1.6;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}
.note span {
  font-weight: bold;

  font-size: 18px;
}
.extraInformation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.extraInformation p {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.extraInformation span {
  width: 50%;
}
