.productDetails {
  display: flex;
  position: relative;
  height: 80vh;
  min-height: 80vh;
}

.imgContainer {
  padding: 20px;
}
.imgContainer img {
  width: 250px;
  height: 90%;
  object-fit: cover;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}
.productInfo a {
  text-decoration: none;
  color: #444;
}

.productDetails a:hover {
  text-decoration: underline;
}

.addToCart {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
  padding: 20px;
  /* background-color: yellowgreen; */
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.radioIcon {
  color: rgb(85, 85, 224);
  position: absolute;
  right: 20px;
  font-size: 24px;
}
