.secondSec {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}

.discountPrice {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.discountPrice span sup {
  font-size: 12px;
  padding: 0 5px;
}

.shipping {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.shipping span {
  display: flex;
  align-items: center;
  color: rgb(0, 113, 113);
}

.extraSaving {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  transition: 0.5s;
  color: #333;
}
.extraBtn {
  background-color: #eeb24b;
  padding: 5px 10px;
  color: #fff;
}
.extraSaving span:last-child:hover {
  color: red;
}
.extraSaving span {
  display: flex;
  align-items: center;
}

.extraDesc {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.extraDesc span {
  color: rgb(0, 113, 113);
}

.extraDesc span:hover {
  color: rgb(0, 113, 113) !important;
  text-decoration: underline;
}
