.deleteAllBtn {
  border: none;
  background-color: transparent;
  color: #537179;
  cursor: pointer;
  width: 150px;
  text-align: left;
  font-size: 16px;
}
.cartList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.totalPrice {
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  padding-right: 30px;
}
